.casilla {
  height: 100px;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-y: auto;
  scrollbar-width: none;

  text-align: center;
  white-space: pre-line;

  border: solid 1px black;
  border-radius: var(--borde-grande);
}

.casilla.correcta {
  background-color: var(--color-correcto);
}

.casilla.incorrecta {
  background-color: var(--color-incorrecto)
}

.casilla.semi-correcta {
  background-color: var(--color-semicorrecto);
}

.casilla::-webkit-scrollbar {
  display: none;
}