.casilla {
  height: 100px;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-y: auto;
  scrollbar-width: none;

  text-align: center;
  white-space: pre-line;

  border: solid 1px black;
  border-radius: 10px;
}

.casilla.correcta {
  background-color: rgb(125, 201, 118);
}

.casilla.incorrecta {
  background-color: rgb(231, 71, 71);
}

.casilla.semi-correcta {
  background-color: rgb(230, 216, 90);
}

.casilla::-webkit-scrollbar {
  display: none;
}