.columnas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5px 0 5px 0;
  gap: 5px;
  margin-top: 12px;

  position: sticky;
  top: 37px;
  z-index: 99;

  background-color: var(--color-fondo);
}


@media (max-width: 675px) {
  .columnas {
    top: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}


.columnas span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 25px;

  border: solid 1px black;
  border-radius: var(--borde-grande);
}