.columnas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin-top: 12px;
}


@media (max-width: 600px) {
  .columnas {
    grid-template-columns: repeat(3, 1fr);
  }
}


.columnas span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 25px;

  border: solid 1px black;
  border-radius: 10px;
}