.fila {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 5px;
}

@media (max-width: 600px) {
  .fila {
    grid-template-columns: repeat(3, 1fr);
  }
}

.imagen-digimon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}