.anuncio-ganador {
  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.25);
}

.anuncio-ganador-modal {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 40px 20px 40px;

  background-color: white;

  border: solid 1px black;
  border-radius: 10px;
}

.anuncio-ganador-modal.perdedor {
  background-color: rgb(231, 71, 71);
}

.anuncio-ganador-modal img {
  border-radius: 10px;
}