.buscador {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 400px;
  margin: 0 auto;
}

.buscador-input {
  position: relative;
  flex: 1;
}

.buscador input {
  width: 100%;
  box-sizing: border-box;
}