.casilla {
  height: 100px;
  width: 100px;

  display: grid;
  place-items: center;
  text-align: center;

  border: solid 1px black;
  border-radius: 10px;
}

.casilla.correcta {
  background-color: rgb(125, 201, 118);
}

.casilla.incorrecta {
  background-color: rgb(231, 71, 71);
}

.casilla.semi-correcta {
  background-color: rgb(230, 216, 90);
}

.casilla img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}