.resultado-cascada {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: white;
  border: solid 2px rgb(255, 255, 255);

  border-radius: 8px;
}

.resultado-cascada img {
  height: 60px;
  width: 60px;
  object-fit: cover;

  border-radius: 8px 0 0 8px;
}

.resultado-cascada:hover {
  background-color: rgb(73, 118, 155);
  border: solid 2px rgb(140, 183, 218);
  color: white;
}