.resultado-cascada {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: white;

  border-radius: 8px;
}

.resultado-cascada img {
  height: 60px;
  width: 60px;
  object-fit: cover;

  border-radius: 8px 0 0 8px;
}